@font-face {
  font-family: 'papyrus';
  src: url("../fonts/papyrus.ttf");
}
body {
  font-family: 'papyrus';
}

.dh-container {
  min-height: 460px;
  padding-bottom: 20px;
}

.logo {
  background-color: #222222;
  height: 100px;
  border-bottom: 1px solid #6a6a6a;
  color: #FFF;
}
.logo img {
  height: 80px;
  margin-top: 10px;
}

.footer {
  background-color: #222222;
  color: #FFF;
  padding-top: 10px;
}

.login-navbar {
  padding: 10px;
  width: 250px;
}

ul#pie_register {
  list-style: none;
  padding-left: 0px;
}
ul#pie_register .fields {
  margin-top: 5px;
  margin-bottom: 5px;
}
ul#pie_register .fields .fieldset label {
  width: 150px;
}
ul#pie_register .fields .fieldset .input_fields {
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul#pie_register .fields .fieldset .input_fields:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
ul#pie_register .fields .fieldset .legend.error {
  color: red;
}

.piereg_login_container .piereg_loginform label {
  width: 150px;
}
.piereg_login_container .piereg_loginform > .p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.piereg_login_container .piereg_loginform .input {
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.piereg_login_container .piereg_loginform .input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.carousel {
  margin-top: -20px;
}

.carousel-inner > .item {
  height: 500px;
}

.carousel-inner > .item > img {
  width: 100%;
}